@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600&display=swap');

:root{
  --primary-color: #006241;
  --light-color: #d4e9e2;
  --dark-color: #1e3932;
}

body{
  margin:0;
}

p , h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.2em;
}

p, li{
  line-height: 1.5em;
}

*{
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
}

.container{
  max-width: 1920px;
  margin:auto;
}

a{
  color:#000;
  text-decoration: none;
  font-weight: 600;
  font-size: .9em;
}
a:hover{
  color:var(--primary-color)
}

button{
  padding:8px 15px;
  border-radius: 20px;
  font-weight: 600;
  font-size: .9em;
  cursor: pointer;
}